* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	font-weight: 400;
}
.NotFound-container {
	max-width: 1300px;
	margin: 0 21rem;
	overflow: auto;
}
.NotFound-container svg {
	width: 90%;
}
.NotFound-title {
	margin: 5rem 0;
	font-size: 3rem;
	text-align: center;
}
@media (max-width: 500px) {
	.NotFound-container {
		width: 20rem;
		margin: 0 auto;
	}
	.NotFound-container svg {
		margin: auto 0;
		height: 10rem;
	}
}
